ipb/
.DS_Store
.idea
wordpress/htdocs/wp-config.php
wpimporter/config/settings.php
wpimporter/data/output/html_propre/*
wpimporter/data/output/html_sale/*
wpimporter/data/logs/*
wordpress/htdocs/wp-content/uploads/*